.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 350px;
    max-height: 90vh;
    padding: 30px 10px;
    border: 1px solid var(--border);
    border-radius: 12px;
    background-color: var(--primary-color);
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    width: 90%;
    margin-bottom: 0;
    color: var(--secondary-color);
}

.toggle-theme-button {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .home-container {
        justify-content: space-between;
        width: 450px;
        min-height: 400px;
        padding: 45px 20px;
    }

    .home-header {
        font-size: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    .home-container {
        width: 550px;
        min-height: 500px;
        padding: 55px 30px;
    }

    .home-header {
        font-size: 36px;
    }
}