.tasks-filter-container {
    width: 90%;
    display: flex;
    gap: 6px;
    justify-content: space-between;
}

.tasks-filter-container button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px 18px;
    border: 1px solid var(--border);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tasks-filter-container button:hover {
    background-color: var(--tertiary-color);
}

.tasks-filter-container .active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--secondary-color);
}

.tasks-filter-container .active:hover {
    background-color: var(--secondary-color);
}

@media only screen and (min-width: 600px) {
    .tasks-filter-container button {
        padding: 10px 24px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1200px) {
    .tasks-filter-container button {
        padding: 12px 30px;
        font-size: 20px;
    }
}