.tasks-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-checkbox {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    border: 2px solid var(--completed-task-box);
    border-radius: 7px;
    appearance: none;
    cursor: pointer;
    position: relative;
}

.task-checkbox:checked::before {
    content: "✓";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: var(--completed-task-box);
}

.task-text {
    font-size: 18px;
    color: var(--secondary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.task-text.completed {
    text-decoration: line-through;
    color: var(--completed-task-text);
}

.task-delete {
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
}

.task-delete:hover {
    background-color: var(--task-delete);
}

@media only screen and (min-width: 600px) {
    .tasks-container {
        margin-top: -10px;
    }
}

@media only screen and (min-width: 1200px) {
    .tasks-container {
        margin-top: -15px;
    }

    .task-left {
        gap: 14px;
    }

    .task-checkbox {
        width: 22px;
        height: 22px;
    }

    .task-text {
        font-size: 20px;
    }

    .task-delete {
        font-size: 20px;
        padding: 14px;
    }
}